/**{
  border: 1px solid red;
}*/
body{
  margin: 0px;
  height: 100%;
}

.container{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 400px;
  background: #d7f5fd;
  position: relative;
}

.header{
  background: #1179ad;
  height: 60px;
  width: 100%;
  min-width: 610px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.shell{
  max-width: 940px;
  height: 60px;
  margin: 0 auto;
  padding: 0 4%;
}

.logo{
  float: left;
  font-size: 25px;
  line-height: 60px;
  padding: 0;
  margin: 0;

}


nav{
  float: right;
}

ul{
  list-style-type: none;
  margin: 0px;

}

li{
  display: inline-block;
  font-size: 20px;
  line-height: 60px;
  vertical-align: middle;
}

a{
  text-decoration: none;
}

h2{
  margin-top: 10%;
}

#video_chat{
  padding-left: 25px;
}

.content{
  text-align: center;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: bold;
}

  .content h2{
    font-size: 30px;
    line-height: 1px;
  }

span{
  color: #6e8d99;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
}

.three_circles{
  clear: both;
  height: 160px;
  padding-top: 10px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.copy{
  display: inline-block;
  text-align: center;
  position: relative;
}

.paste {
  display: inline-block;
  text-align: center;
  position: relative;
}

.video_chat{
  display: inline-block;
  text-align: center;
  position: relative;
}
#scissors {
  width: 200px;
  height: 200px;
  background: #007bad;
  border-radius: 165px;
  margin: 0 auto;
}
#paper {
  width: 200px;
  height: 200px;
  background: #007bad;
  border-radius: 165px;
  margin: 0 auto;
}
#tv {
  width: 200px;
  height: 200px;
  background: #007bad;
  border-radius: 165px;
  margin: 0 auto;
}

.video_chat_button{
  display: block;
  text-align: center;
  clear: both;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  font-size: 18px;
  background: #45ad3a;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  vertical-align: top;
  line-height: 26px;
  color: #fff;
  padding: 10px 0px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
}
p {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6e8d99;
}
p a{

}
#Step {
  font-size: 18px;
  line-height: 0px;
  color: #0082b7;
}
