<<<<<<< HEAD
*{
  border: 1px solid red
}

.container{
  height: 100%;
  width: 100%;
  position: relative;
}
=======
* {
	border: 1px solid red
}
.container {
	height: 100%;
	width: 100%;
	position: relative;
}
>>>>>>> 60335e3c2f9bf7015c9fec3db308e843c9f014c9
